body {
    background-color: #3e413e;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #232623;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-container {
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #232623;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    color: #de630b;
}

h2{
    text-align: center;
    background-color: #333;
}

.question {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #0d290d;
    border-radius: 5px;
}

.question.alternate {
    background-color: #144d47;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    width: 20%;
    height: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: #c6521c;
    color: white;
}

input[type="range"],
input[type="date"] {
    width: 100%;
}

.images label {
    display: inline-block;
    margin-right: 15px;
}

.images img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.images img:hover {
    transform: scale(1.1);
}

button {
    width: 30%;
    height: 10%;
    margin-top: 10px;
    background-color: #d5a064;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c2600b;
}


.half-width-left-align {
    width: 50%;
    float: none; 
}

th, td {
    width: 400px;
    height: 400px;
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}

.table-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}


table {
    width: 75%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid black;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

a {
    color: #d5a064;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 30vh;
    padding-bottom:70px;
    padding-top: 90px;
}

.box {
    width: 400px;
    height: 400px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5rem;
    color: white;
    border-radius: 10px;
}

.box {
    background-color:  #232623;
}

.box-header{
    background-color:  #333;
}

.box-long{
    width: 800px;
    height: 100px;
}

.box-long2{
    width: 400px;
    height: 80px;
}

.box-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #de630b;
    margin-bottom: 30px;
    margin-left: 30px;
    
}

.box-2 {
    flex: 1;
    background-color:  #333;
}

.pad-top{
    padding-top: 1px;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


main {
    margin: 30px auto;
    padding: 20px;
    background-color: #333;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 28px;
    min-height: 100vh;
    margin-bottom: 100px;
}